body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

#left-column {
  flex: 1;
  background-image: url('path-to-your-image.jpg'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right-column {
  flex: 1;
  padding: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

button {
  background-color: #0e7a11;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  /* Switch to a single column layout on smaller screens */
  body {
    flex-direction: column;
  }

  /* Hide the left column on smaller screens */
  #left-column {
    display: none;
  }
  h4 {
    margin-top: 20px;
  }
  
  #fin {
    font-size: 13px;
    color: rgb(61, 60, 60);
    max-width: 335px;
  }

  input {
    max-width: 90%
  }
  
}

input {
  height: 30px; /* Adjust the height as needed */
  width: 400px;
  padding: 5px; /* Optional: Add padding to improve visual appearance */
  box-sizing: border-box; /* Optional: Include padding and border in the total width/height */
  margin-bottom: 2px;
}

h5 {
  margin-bottom: 3px;
  font-size: 15px;
}
h4 {
  margin-top: 20px;
  margin-left: 40px;
}

#fin {
  font-size: 13px;
  margin-left: 40px;
  color: rgb(61, 60, 60);
  max-width: 335px;
}

#img {
  margin-left: 35px;
}

#gros {
  font-size: 17px;
}

a {
  color: rgb(0, 107, 0);
}